body {
	font-family: 'Lato', sans-serif;
}


/* Menu */
.menu-topo {
	color: #ffffff;
    background-color: #47d5f8;
    border-color: #000000;
    max-width: 100%;
    padding: 10px 30px;
    
}

.titulo {
	align-self: center;
	font-weight: bold;
	font-size: 1.2em;
}

.titulo a{
text-decoration: none;
color: rgb(9, 9, 231);    
}


.nav a {
	text-decoration: none;
	color: #ffffff;
 }

.nav a:hover {
	color: #eeffff;
	text-decoration-line: underline;
	font-weight: bold;
    
 }


/* Carrossel */

.material-icons {
	font-size: 5em;
}

.carousel-caption {
	top:50%;
}


/* Nossos Serviços */
.titulo h3 {
	text-align: center;
	font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 30px 0px 0px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.subtitulo h6 {
	text-align: center;
	padding-bottom: 20px;
    
}

.card {
	border: 0px;
	display: inline-block;
	margin: 10px;
}

.col-md-4 {
	max-width: 18%;
}

.material-icons { 
	color: #00bfff; 
	font-size: 4em;
}


.container-fluid {
	text-align: center;
}

.card-title {
	text-align: left;
}

.card-text {
	text-align: left;
}


/* Portfólio */

.portfolio {
	background-color: #1baa9e;
	margin-top: 20px;
	padding-bottom: 30px;
}

.portfolio h3 {
	color: #ffffff;
}

.portfolio h6 {
	color: #ffffff;
}

.imagens-portfolio div {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.imagens-portfolio h4 {
	color: #ffffff;
}

.link-leia-mais {
	padding-top: 30px;
	text-align: center;
}

.link-leia-mais a {
	text-decoration: none;
	color: #ffffff;
	border-color: #ffffff;
	border-radius: 30px;
}


/* Nosso Time */
.imagens-nosso-time div {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.imagens-nosso-time p {
	text-align: center;
}



/* Depoimentos */
.card-depoimento {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.card-img-overlay h5 {
	text-align: center;
	font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}


/* Rodape */

.rodape {
	background-color: #1baa9e;
	margin-top: 0px;
	color: #ffffff;

	text-align: left;
	padding: 40px 20px 20px 20px;

}

.rodape p {
	font-size: .8em;
	padding-top: 1em;
}

.rodape ul li {
	font-size: .8em;
	padding-top: 1em;
	list-style-type: circle;
}

.rodape hr {
	border-color: #FFFFFF;
}

.rodape h6 {
	text-align: center;
	padding-top: 10px;
    color: #FFF;
}

.rodape a{
text-decoration: none;

}

/*  Responsividade  */
@media screen and (max-width: 800px) {
	.imagens-nosso-time img {
		max-width: 60%;
	}
}

h2{
color: rgb(247, 245, 245);
font-weight: bold;
}

button{
background-color: brown;
border: brown;
margin-top: 13px;
margin-left: 10px;


}

button a{
color: wheat;
text-decoration: none;
}

#pagina2 {
background-color: brown;
height: 50px;

}

#texto-pagina2{
color: white;
text-align: center;
padding-top: 10px;


}

#final1 {
background-color: #000000; 
height: 50px;   
}

#pagina2{
margin-top: 68px;

}

.justify-content-end {
margin-top: 10px;

}